<div class = "jumbotron">
  <h1><b>QuotesBay</b></h1>
  <h6>Get Quotes, Post quotes!</h6>
</div>

<div class = "container shadow-lg p-3 mb-5 bg-white rounded">
  <div  *ngFor= 'let quote of quotes;let i = index'>
    <h3>"{{quote.quote}}"</h3><br>
    <p class="text-center"><em>~{{quote.author}}</em></p>
    <button (click)='toggleDetails(i)' class="btn btn-outline-info">Show Details</button>
    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail>
  </div>
</div>
